@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100vh;
  overflow:hidden;
}
.playwrite-font{
  /* font-family: "Playwrite DE Grund", cursive; */
}

.robotomono-font{
  /* font-family: "Roboto Mono", monospace; */
  font-family: "Arial";

}

body{
  @apply playwrite-font
}
