@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;

}
.playwrite-font{
  font-family: "Playwrite DE Grund", cursive;
}

.robotomono-font{
  font-family: "Roboto Mono", monospace;
}
