.image-container {
  position: relative;
  width: fit-content;
}
.arrow{
  position: absolute;
  transition: all 0.2s ease-in-out;
}
.image-container:hover .arrow-left, .image-container:hover .arrow-right{
  color:white;
  background-color: rgba(0,0,0,0.2);
  padding: 10px;
}


.arrow-left{
  left: 10px;
  top: 50%;
  font-size: 3rem;
  transform: translateY(-50%);
}

.arrow-right{
  right: 10px;
  top: 50%;
  font-size: 3rem;
  transform: translateY(-50%);
}

.icon{
  width: 30%;
}


.translate-transition > img{
  transition: translate 500ms ease-in-out;
}
