.image-container {
  position: relative;
  width: fit-content;
}
.arrow{
  position: absolute;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, padding 0.2s ease-in-out;
}
.image-container:hover .arrow-left, .image-container:hover .arrow-right{
  color:white;
  background-color: rgba(0,0,0,0.2);
  padding: 10px;
}


.arrow-left{
  left: 10px;
  top: 50%;
  font-size: 3rem;
  transform: translateY(-50%);
}

.arrow-right{
  right: 10px;
  top: 50%;
  font-size: 3rem;
  transform: translateY(-50%);
}

.icon{
  width: 30%;
}


.translate-transition > img{
  transition: translate 500ms ease-in-out;
}


.dark-bg-shadow{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.2);
  z-index: 10;
  visibility: hidden;
  display:flex;
  align-items: center;
  justify-content: center;
}

@keyframes scrollOpen{
  0%{
    width: 0%;
    opacity: 0;
  }
  100%{
    width: 100%;
    opacity: 1;
  }
}

.dark-bg-shadow > div{
  position: absolute;
  min-height: 3rem;
  max-width: 100%;
  max-width: 50vw;
  transform: translateY(-100px);
  overflow: hidden;
}
 
.maxdesc{
  min-height: 3rem;
  margin: 0 auto;
  width: 50vw;
  white-space: "no-wrap";
}


.description{
  padding: 15px;
  border-radius: 20px;
  background-color: beige;
  color: #33664d;
  font-weight: bolder;
} 
.description h3{
  text-align: center;

}

.scroll-animation{
  animation: scrollOpen 0.5s linear;
}


.scroll-list-div {
  border-left: 1px solid #33664d;
  padding-left: 10px;
}