.typing-effect{
  margin: 10px 0px;
  height: fit-content;
  display: flex;
  animation: typingEffect 0.5s linear both 0.4s,  blinkingEffect 1s linear 0s infinite;
  overflow:hidden;
  white-space: nowrap;
}

@keyframes typingEffect {
  0%{
    width: 0px;
  }
  100%{
  width: 400px;
  }
}


@keyframes blinkingEffect {
  0%{
    border-right: 5px solid rgba(0, 0, 0, 0.1);
  }
  100%{
    border-right: none

  }
}

@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}
.fade-in{
  animation: fadein 0.3s linear both 0.4s;
}

.fade-in-delay{
  animation-delay: 1s;
}
.myname {
  margin: 0px;
}


.stroked-text {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
