.typing-effect{
  margin: 10px 0px;
  height: fit-content;
  display: flex;
  animation: typingEffect 0.5s linear both 0.4s,  blinkingEffect 1s linear 0s infinite;
  overflow:hidden;
  white-space: nowrap;
}

@keyframes typingEffect {
  0%{
    width: 0px;
  }
  100%{
  width: 500px;
  }
}


@keyframes blinkingEffect {
  0%{
    border-right: 5px solid rgba(0, 0, 0, 0.1);
  }
  100%{
    border-right: none

  }
}

@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}
.fade-in{
  animation: fadein 0.3s linear both 0.4s;
}

.fade-in-delay{
  animation-delay: 1s;
}
.myname {
  margin: 0px;
}


.stroked-text {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


.set-position{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}


.project-div{
  display: flex;
  justify-content: space-between;
}

.glass-effect{
  backdrop-filter: blur(5px);
}

@media only screen and (max-width: 1600px){
  .resize-icon{
    display: none;
  }
  html, body, section{
    height: 100%;
    overflow:scroll;
  }
  .project-div{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .project-div > * {
    margin: 50px 0px;
  }
  .dom-ref{
    height: 100%;
  }

}


@media only screen and (max-width: 1000px) {

  html, body{
    overflow: scroll;
    height: 100%;
  }
  .main-stack{
    display: none;
  }
}

.transition-up{
  animation: transitionup 900ms ease-in-out;
}


@keyframes transitionup {
  0%{
    transform: translateY(300%);
  }100%{
    transform: translateY(0%);
  }
}

@keyframes transitiondown {
  0%{
    transform: translateY(0);
  }100%{
    transform: translateY(300%);
  }
}

@keyframes linkdown {

  0%{
    transform: translateY(-300%);
  }100%{
    transform: translateY(0%);
  }
}

@keyframes linkup {
  0%{
    transform: translateY(0);
  }100%{
    transform: translateY(-300%);
  }
}

.link-up {
  animation: linkup 500ms ease-in-out;
}
.link-down {
  animation: linkdown 400ms ease-in-out;

}
.stack-up{
  animation: transitionup 400ms ease-in-out;
}

.stack-down {
  animation: transitiondown 500ms ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-animation-infinite {
  animation: spin 500ms linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
